@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@0,400;1,300&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", monospace, Arial, Helvetica, sans-serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  line-height: 1.5;
  background-color: #fafbfc;

  display: flex;
  flex-wrap: wrap;
}

label {
  color: #515151;
  font-weight: 500;
  margin-top: 16px;
  margin-left: 42px;
}

input {
  appearance: none;
  margin-left: 42px;

  min-width: 250px;
  border-radius: 5px;
  padding: 8px;
  border: 1px solid #b1b1b1;
}

.cat {
  position: relative;
  width: 100%;
  max-height: 100vh;
  opacity: 0.8;
}

.credit {
  font-weight: 500;
  position: absolute;
  top: 60%;
  left: 2%;
  margin-top: 10px;
  color: #d9e2ec;
}

.credit > a {
  color: #d9e2ec;
}

.header {
  max-width: 630px;
  color: #222;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content > form {
  flex-grow: 2;
}

.content > .headers {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin-left: 64px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  gap: 2rem;
}

.col-one,
.col-two {
  display: flex;
  flex-direction: column;
}

.button-container {
  margin-top: 34px;
  margin-left: 64px;
  display: flex;
  flex-direction: column;
  width: 240px;
  gap: 24px;
}

button[type="submit"] {
  padding: 16px;
  border-radius: 8px;
  border: none;
  background-color: #57ae5b;
  color: #d9e2ec;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #2f8132;
}

.button-container > p {
  margin-left: 8px;
}

.btn-link {
  text-decoration: none;
  color: #653cad;
  font-weight: 600;
}

.form-background h2 {
  color: #3b3b3b;
  margin-top: 16px;
  padding: 8px;
  margin-left: 58px;
}

.form-background {
  background-color: #e1e1e1;
  box-shadow: 10px 10px 5px #aaaaaa;
}

span {
  color: red;
}

input:valid {
  border: 3px solid #57ae5b;
}

input:invalid {
  border: 3px solid #d64545;
}

input:focus {
  outline: none;
}
