@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@0,400;1,300&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", monospace, Arial, Helvetica, sans-serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  line-height: 1.5;
  background-color: #fafbfc;

  display: flex;
  flex-wrap: wrap;
}

label {
  margin-top: 24px;
  color: #323f4b;
}

input {
  min-width: 250px;
  border-radius: 5px;
  padding: 4px;
}

p,
h1,
h2,
button {
  color: #1f2933;
}

.cat {
  position: relative;
  width: 100%;
  max-height: 100vh;
  opacity: 0.8;
}

.credit {
  font-weight: 500;
  position: absolute;
  top: 0;
}

.header {
  max-width: 630px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content > form {
  flex-grow: 1;
}

.content > .headers {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin-left: 86px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 24px;
  gap: 5rem;
}

.col-one,
.col-two {
  display: flex;
  flex-direction: column;
}

.col-one {
  margin-left: 40px;
}

.button-container {
  margin-top: 34px;
  margin-left: 86px;
  display: flex;
  flex-direction: column;
  width: 230px;
  gap: 32px;
}

button[type="submit"] {
  padding: 16px;
  border-radius: 8px;
  border: none;
}

.btn-link {
  text-decoration: none;
}

.header:nth-child(2) {
  color: #9aa5b1;
}

.form-background h2 {
  color: #9aa5b1;
  margin-left: 64px;
}

.form-background {
  background-color: #d1eefc;
  padding: 24px;
}
